body, h1, p, h2, h3, ul, a {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#nav {
    border-bottom: solid 3px #2ebdff;
    background-color: #fff;
    position: fixed;
    width: 100%;
}

#nav h1{
    display: inline-block;
    margin-top: 5px;
}

.container {
    width: 70%;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 10px;
}

.navbar li a:hover {
    cursor: pointer;
    color: #000;
    border-right: solid 1px #000;
    padding-bottom: 10px;
}

.navba {
    float: right;
}

.navba li {
    display: inline;
}

.navba li a {
    text-decoration: none;
    color: #2ebdff;
    display: inline-block;
    padding: 20px 15px;
}

#photo {
    min-height: 80vh;
    background-image: url(qwerty.jpg);
    background-size: cover;
    background-position: center;
}

.text {
    border: solid 3px  #2ebdff;
    margin: 30px;
}

.code {
    background-image: url(code.jpg);
    background-attachment: fixed;
    min-height: 100px;
    background-size: cover;
}

.code a {
    font-size: 300px;
    margin-left: 570px;
    color: #fff;
    margin-bottom: 0;
    text-decoration: none;
}

.code h3 {
    font-size: 50px;
    color: #fff;
    margin-left: 550px;
    margin-top: 0;
}

.button {
    border: solid 3px #2ebdff;
    display:inline-block;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: #fff;
}

.button a {
    color: #2ebdff;
    text-decoration: none;
    padding: 15px 20px;
}

#more {
    width: 10%;
    margin: auto;
}

.button:hover {
   background-color: #2ebdff;
   color: #fff;
}

#more a:hover {
    color: #fff;
    cursor: pointer;
}

#footer {
    background-color: #2ebdff;
}

#footer h1 {
    text-align: center;
    color: #fff;
    padding: 50px 0;
}

.copy {
    color: #555;
}

.aus {
    margin: 80px 0;
}

.par {
    border: solid 3px #2ebdff;
    padding: 20px;
}

.containere {
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
    background-color: #2ebdff;
    color: #fff;
    padding: 25px 15px;
    border-radius: 10px;
}

.price {
    margin-top: 10px;
}

.plus a:hover {
    cursor: pointer;
    color: #2ebdff;
}

.asd li a {
    color: #000;
}

.tale {
    padding-top: 100px;
    width: 70%;
    margin: auto;
}

.table {
    background-color: #2ebdff;
    color: #fff;
    padding: 25px 15px;
    border-radius: 10px;
    margin-bottom: 30px;
}
ccw
.table input {
    margin-top: 20px;
}

.in {
    width: 0 70%;
    margin: auto;
}

.send {
    width: 70%;
    margin: auto;
    border: solid 3px #2ebdff;
    border-radius: 10px;
    color: #2ebdff;
    text-align: center;
    margin-top: 50px;
    padding: 50px 0;
}
.send h1 {
    margin-bottom: 40px;
}
